@import "shared";
@import "commonvars";

@import "reset";

@import "sidebar";
@import "sidebar-theme";

@import "sidepane";
@import "sidepane-theme";

@import "tabstrip";
@import "tabstrip-theme";

@import "snippet";
@import "snippet-theme";

@import "topbar";
@import "topbar-theme";

@import "footerbar";
@import "footerbar-theme";

@import "build-settings";
@import "build-settings-theme";

@import "status";
@import "status-theme";

@include reset();

body {
  font-family: $font-family;
  font-size: $text-size;
  line-height: $text-line-height;
}

body.scastie {
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 150%;
}

.hide {
  display: none;
}

.fa {
  font-size: 16px;
  width: 20px;
  text-align: left;
}

.fa-spin {
  font-size: 16px;
  width: 16px;
}

.inner-container {
  overflow-y: auto;
}

.btn {
  cursor: pointer;
}

.debug {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  background-color: red;
  color: white;
}

@include tabstrip();
@include sidebar();
@include sidepane();
@include snippet();
@include buildSettings();
@include status();
@include topbar();
@include footerbar();

@mixin appStyles($class) {
  html {
    height: 100%;
  }
  .scastie {
    height: 100%;

    .app.#{$class} {
      color: $text-color;
      background: $background-color;
      height: 100%;

      a {
        color: $link-color;
      }

      .btn {
        cursor: pointer;

        &:hover {
          color: $hover-option-color;
        }
      }

      .main-grid-container {
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: $header-height 1fr $footer-height;
        //word-break: break-all;

        .main-grid-header {
          grid-row-start: 1;
          grid-row-end: span 1;

          grid-column-start: 1;
          grid-column-end: span 2;
        }

        .main-grid-central {
          grid-row-start: 2;
          grid-row-end: span 1;

          height: 100%;
          width: 100%;
          overflow: clip;

          .centralHFlex {
            display: flex;
            flex-direction: row;
            height: 100%;

            .side-bar-thin {
              flex: 0 0 $sidebar-width;
            }

            .side-pane {
              flex: 0 0 $sidepane-width;
            }

            .central-pane {
              width: calc(100% - $sidebar-width - $sidepane-width);
              width: calc(calc(env(min-width, 100vw)) - $sidebar-width - $sidepane-width); // for chrome hack because 100% in calc does not work
              height: 100%;

              .tab-strip {
                height: $tabstrip-height;
                background-color: blue;
              }

              .editor-topbar {
                display: block;
                height: $editor-topbar-height;
                background-color: red;
              }

              .editor-wrapper {
                height: calc(100% - $tabstrip-height - $editor-topbar-height);
                height: calc(calc(env(min-height, 100vh) - env(safe-area-inset-top) - $header-height - $footer-height) - $tabstrip-height - $editor-topbar-height); // for chrome hack because 100% in calc does not work
              }

              .console-container {
                display: block;
                height: $console-height;
                //overflow-y: scroll;
                border: red dotted 10px;
              }
            }
          }
        }

        .main-grid-footer {
          grid-row-start: 3;
          grid-row-end: span 1;
          //grid-column-start: 2;
          //max-height:  $footer-height;
          //  overflow: scroll;
        }
      }

      @include topbarTheme($class);
      @include footerbarTheme($class);
      @include tabstripTheme($class);
      @include sidebarTheme($class);
      @include sidepaneTheme($class);
      @include snippetTheme($class);
      @include buildSettingsTheme($class);
      @include statusTheme($class);
    }

    // TODO uncomment this when finished
    //&:not(.embedded) {
    //  @include tablet {
    //    background-color: red;
    //    .main-grid-container {
    //      grid-template-rows: 0px 1fr 0px;
    //
    //      .main-grid-header {
    //        display: none;
    //      }
    //
    //      .main-grid-central {
    //        .side-bar-thin {
    //          display: none;
    //        }
    //
    //        .side-pane {
    //          display: none;
    //        }
    //      }
    //    }
    //  }
    //}
  }
}

@import "dark-app";
@import "light-app";
