@import "shared";
@import "reset";
@import "app";

.scastie {
  @include reset();

  .embedded-overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    list-style: none;

    margin: 10px;

    .fa {
      font-size: 1.5em;
      padding: 5px;
    }
  }
}

@mixin embeddedMenuStyle($class) {
  .scastie {
    .app.#{$class} {
      .embedded-overlay {
        & > * {
          color: $editor-button-color;
          background-color: $embedded-overlay-button-background;
          border-radius: 10px;
        }

        & > *:hover {
          background-color: $embedded-overlay-button-background-hover;
        }
      }
    }
  }
  @include appStyles($class);
}


@import "dark-embedded";
@import "light-embedded";

