@import "commonvars";

@mixin sidepaneTheme($class) {

  .side-pane {
    background-color: #93a1a1;
  }

  .hierarchy-list-row {
    .hierarchy-list-row-buttons {
      button {
        background-color: #5d7c83;
        color: white;
      }
    }
  }

  .file-mouse-over {
    background-color: cadetblue;
  }

  .file-selected {
    background-color: steelblue;
    font-weight: bold;
  }

}