@import "commonvars";

@mixin sidebarTheme($class) {
  .sidebar {
    background: $sidebar-background;

    .btn {
      color: $option-color;

      &.selected {
        background: $selected-option-background;
        color: white;
      }

      &.status-down {
        color: red;
      }

      &.status-up {
        color: green;
      }
    }
  }
}