@import "commonvars";

@mixin sidepane() {
  .side-pane {
    background-color: #93a1a1;

    .hierarchy-list-row {
      display: flex;
      flex-direction: row;
      height: 22px;

      div {
        draggable: true;
      }

      padding: 8px;

      .hierarchy-list-row-buttons {
        display: none;

        &.visibleButtons {
          display: block;
          margin-left: auto;

          button {
            cursor: pointer;
          }
        }
      }
    }
  }
}