@import "commonvars";

@mixin sidebar() {
  .sidebar {
    position: relative;
    width: $sidebar-width;
    height: 100%;
    display: flex;
    flex-direction: column;

    :nth-child(2) { // makes space between build settings and toggle dark theme buttons
      margin-bottom: auto;
    }

    .btn {
      width: $sidebar-width;
      height: $sidebar-width;
      line-height: $sidebar-width;
      text-align: center;
    }
  }

  @include phone {
    .sidebar {
      display: none;
    }
  }

  @include tablet {
    :not(.presentation-mode) {
      .sidebar {
        width: $sidebar-tablet-width;

        .btn {
          padding-right: 0;
          text-align: center;
        }
      }
    }
  }
}