@import "commonvars";

@mixin sidepaneTheme($class) {

  .side-pane {
    background-color: $sidepane-background;
    color: $sidepane-text-color;
  }

  .hierarchy-list-row {
    .hierarchy-list-row-buttons {
      button {
        background-color: $sidepane-button-background-color;
        color: $sidepane-button-color;
      }
    }
  }

  .file-mouse-over {
    background-color: $hoverFile-background;
  }

  .file-selected {
    background-color: $selectedFile-background;
    font-weight: bold;
  }

}