@import "commonvars";

@mixin status() {
  .status-container {
    overflow-y: auto;
    height: 100%;

    padding: 0px 0px;

    .runner-state,
    .runner {
      padding: 5px;
    }

    .ready {
      background-color: green;
      color: white;
    }

    .unknown,
    .initializing,
    .creating-config,
    .connecting,
    .indexing,
    .needs-reload {
      background-color: yellow;
    }


    * {
      margin: 5px;
    }
  }
}