@import "commonvars";

@mixin tabstripTheme($class) {
  .tab-strip {
    background-color: $tabstrip-background;

    .tab-strip-item {
      background-color: $tabstrip-item-background;

      &:hover {
        background-color: $tabstrip-item-hover;
      }

      span, p {
        color: $tabstrip-item-color;
      }

      &.active {
        background-color: $tabstrip-item-hover;
        box-shadow: inset 0 6px 0 0 $tabstrip-item-selection-color;
      }

      .close-btn {
        &:hover {
          background-color: gainsboro;
          color: black;
        }
      }
    }
  }
}